<style type="text/css">
.card{
	margin-right: 20px;
	margin-bottom: 20px;
	text-align:center;

}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
.notif{
	font-size: 80%;
	overflow-y : auto;

}
.card-img-top{
	width: 70%;
	margin: auto;
	height:100;
	margin-top: 15px;
}
body{
	background-color:
}
.card-text{
	color:orange;
	text-align: center;
}
.card-text:hover {
	color:red;

}

.notifications{
    overflow-y : auto;
}



</style>


{% extends 'new/base.html' %}
{% block content %}


<div class="container" style="margin-top: 50px;">

<div class="row">

    <div class="col lg-8 col-md-8 col-12" >

    <div class="row" style="margin-bottom:50px; ">



         {% for e in exam %}
     <form action="{% url 'exam' %}" id="form" method="post">
         {% csrf_token %}
      <div class="card"  style="width: 18rem;">

  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <input type="hidden" value="{{e}}" name="exam_name" >
      <h5 class="card-title"> {{e}}</h5>
      <input type="submit" value="Select">
    <p class="card-text"></p>
  </div>

</div>
</form>

        {% endfor %}
    </div>
    </div>

<div class="col lg-4 col-md-4 " >

<div class="notifications">

 {% for n in notification %}
    <p> {{ n }} </p>

{% endfor %}


</div>
</div>
</div>

</div>

<div class="container" id="contains_subject" style="margin-top: 50px;">

<div>
    <h2 style="text-align:center;">Practice Section</h2>

</div>

<div class="row">

    <div class="col lg-12 col-md-12 col-12" >

    <div class="row" style="margin-bottom:50px; ">

        {% for s in subject %}

 <div class="card " id="subject" style="width: 18rem;">

  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <input type="hidden" value="{{s}}" name="Subject_name" >
      <h5 class="card-title"> {{s}}</h5>
      <input type="submit" value="Select">
    <p class="card-text"></p>
  </div>

</div>

        {% endfor %}
</div>
    </div>
</div>

</div>


{% endblock %}
