


{% extends 'new/base.html' %}

{% block content %}



{% if username %}




<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    var detail ="{{ detail }}";
    uname = "{{user_name}}";

    var find = '&#39;';
    var re = new RegExp(find, 'g');

    detail = detail.replace(re, '"');


    detail = JSON.parse(detail);
    console.log(detail)
    var x;
    sub_dict = {};
    table_dict = {};
    for (var i=0;i<detail.length;i++){
        if (sub_dict[detail[i][0]] == null) {
            console.log('here at1 ');
            sub_dict[detail[i][0]] = [];
            sub_dict[detail[i][0]].push(['Topic',
                               'Ques_asked',
                               'Attempted',
                               'Correct',
                               'Incorrect',
                               'Unattempted',
                               'Accuracy',
                               'Percent_score']
)
            sub_dict[detail[i][0]].push([detail[i][1],detail[i][2],detail[i][3],detail[i][4],detail[i][5],detail[i][6],detail[i][7],detail[i][8]]);

        }
        else {
            console.log('here at 2');

            sub_dict[detail[i][0]].push([detail[i][1],detail[i][2],detail[i][3],detail[i][4],detail[i][5],detail[i][6],detail[i][7],detail[i][8]]);
        }
}
        for (var i=0;i<detail.length;i++){
        if (table_dict[detail[i][0]] == null) {
            table_dict[detail[i][0]] = [];
            table_dict[detail[i][0]].push(['Topic',
                               'Attempt_rate in Percent',
                               'Percentage Accuracy',
                               'Percent_score']
);
            table_dict[detail[i][0]].push([ detail[i][1],String(100*(detail[i][3]/detail[i][2])),String(detail[i][7]),String(100*(detail[i][8])) ]);
            console.log('Data Enetering',[ detail[i][1],(100*(detail[i][3]/detail[i][2])),detail[i][7],100*(detail[i][8]) ]);
        }
        else {
            console.log('here at 2');
            table_dict[detail[i][0]].push([ detail[i][1],String(100*(detail[i][3]/detail[i][2])),String(detail[i][7]),String(100*(detail[i][8])) ]);
            console.log('Data Enetering',[ detail[i][1],(100*(detail[i][3]/detail[i][2])),detail[i][7],100*(detail[i][8]) ]);
        }


    }
    console.log(sub_dict,table_dict,'sub and table ');

    var to_show = [];
    var to_show_table = [];
    for (var key in sub_dict) {

              to_show_table.push([key,table_dict[key]])
             to_show.push([key,sub_dict[key]]);
};

console.log('lists ',to_show_table)

    to_show.map((current,index) => {


    google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(function() {
        drawChart('chart_div_'+current[0],  current[1]);

      });
     



      function drawChart(chart_div,data_array) {

        console.log(Array.isArray(data_array),'isarrayins')
        var data = google.visualization.arrayToDataTable(data_array);
        var length = to_show.length
        console.log('cooroect len',length)
        var options = {
          title : 'Score in '+ current[0],
          vAxis: {title: '-'},
          hAxis: {title: 'Topic'},
          seriesType: 'bars',
           series: {7: {type: 'line'}}
          };

        var chart = new google.visualization.ComboChart(document.getElementById(chart_div));
        chart.draw(data, options);


    }





});

to_show_table.map((current,index) => {

      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(function() {
        drawTable('table_div_'+current[0],  current[1]);
      
      });




      function drawTable(table_div,data_array) {

        console.log(Array.isArray(data_array),'isarrayins','+ div as',table_div)
        
       var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('string', 'Attempt_rate in Percent');
        data.addColumn('string', 'Percentage Accuracy');
        data.addColumn('string', 'Percent_score');
        data.addRows(data_array);
          };

        var table = new google.visualization.Table(document.getElementById(table_div));

        table.draw(data, {showRowNumber: true, width: '100%', height: '100%'})


    });













</script>



<div class = "after_navbar" style="margin-top:65px;">

  <div class="verification_div" style="text-align:center;  padding:30px; margin-bottom:30px;">
<iframe src="user_profile">
</iframe>
  </div>

  <h2 style="text-align:center;"> Analysis For {{username}} </h2>
</div>

{% for s in sub_list %}
  <div id="chart_div_{{s}}" style="width: 900px; height: 500px; margin-left:150px;"></div>
  <div id="table_div_{{s}}" style="width: 900px; height: 500px; margin-left:150px;"></div>



{% endfor %}

<a href="user_profile"> profile</a>

  </body>


{% else %}

<div style="margin-top:100px;">
<p>Please login First</p>

<a    href="{% url 'index' %}">Go To HomePage</a>
</div>
{% endif %}
{% endblock %}