<style>

.card{
    color: white;
    margin:20px;
    text-align: center;
    margin-top:50px;
    padding: 30px;
    width:13rem;
    height:10rem;
    }

.container{

}

.card:hover{
box-shadow: 0 8px 16px 0 rgba(3,3,3,0.8);
}

.card-title{
height:50px;
}

</style>




{% extends 'app/base.html' %}

{% block content %}








<div class="container" style="margin-top:60px;" >

    <h1 style="text-align:center;  color:#17a2b8; text-decoration: underline;">{{Subject}} </h1>
    <div class="card bg-info" style="margin-left:auto;margin-right:auto;margin-top:-5px; width:30%; ">

        <h5 class="card-title" >Full Test for {{Subject}}</h5>
        <form method="post" action = "{% url 'full_test'%}">
            {% csrf_token %}
            <input type ='hidden' value='{{Subject}}' name="Subject">
            <input class="submit" type ='Submit' value ='SELECT'>
        </form>

    </div>

    <h3 style="margin-top:50px;margin-bottom:-30px; text-align:center;  color:#dc3545; text-decoration: underline;"> Select a Topic </h3>

{% if not topic%}
    <div> <h1>  -                                                                    - </h1></div>
     <div> <h5 style="text-align:center;  color:black;">  No Topics available for {{Subject}} yet.Please come back later </h5> </div>
       {% else %}
    <div class="row">

    <div class="col lg-2 col-md-2 col-12" >


    </div>




    <div class="col lg-8 col-md-8 col-12" >
        <div class="row">
         {% for t in topic %}

    <form method="post" action = "{% url 'practice'%}">
        {% csrf_token %}
        <div class="card bg-info" id="topic"  >
            <h6 class="card-title"> {{t.topicname}} </h6>

      <input type ='hidden' value ='{{t.topicname}}' name="topicname">
      <input class="submit" type ='Submit' value ='SELECT'>
        </div>
    </form>
        {% endfor %}



       {% endif %}
        </div>
    </div>

    <div class="col lg-2 col-md-2 col-12" >



    </div>


</div>

</div>









{% endblock %}